/**box interesse**/

.box_interesse {
    display: none;
}

.transparencia,
.modal {
    /* width: 700px; */
    /* padding: 25px; */
    /* height: 100%; */
    /* bottom: 0; */
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* background: rgba(0, 0, 0, 0.7); */
}

::placeholder {
    color: #666;
}

.input_form {
    padding: 15px 15px;
    background: #ddd;
    color: #585858;
    font-size: 16px;
    margin-bottom: 10px;
    width: 400px;
    border: solid 1px #ddd;
}

.bt_enviar {
    background: -webkit-gradient(radial, 165 0, 0, 220 -257, 465, from(#470926), to(#7d1144));
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'avante';
    text-transform: uppercase;
}


/** main **/

#main {
    display: block !important;
    min-height: auto;
    padding: 0 !important;
}

.ql-toolbar.ql-snow,
.tox .tox-toolbar__primary,
.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary,
.tox .tox-edit-area__iframe,
.tox .tox-statusbar {
    background-color: rgba(0, 0, 0, 0.12) !important;
    border: 0 !important;
    padding: 0 5px !important;
    color: #585858 !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
    font-family: 'Roboto' !important;
}

.tox .tox-statusbar {
    display: none !important;
}


/**container**/

.container {
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}


/**nav**/

nav {
    background: none;
    box-shadow: none;
    height: auto;
    line-height: normal;
}


/**header**/

header {
    background: #fff;
    display: block;
    border-bottom: solid 2px #470926;
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    left: 0;
}

.menu1 {
    /* float: left;
    width: 379px;
    overflow: hidden; */
}

.img_prod_int {
    overflow: hidden;
    position: relative;
    height: 285px;
    display: flex;
    align-items: center;
}

.img_prod_int img {
    /* max-width: 100%; */
    /* height: 100%; */
}

[type=checkbox]:checked~i,
[type=radio]:checked~i,
[type=checkbox]:checked~span,
[type=radio]:checked~span {
    color: var(--pink-darken-4);
}


/**slider**/

#banner {
    height: 500px;
    position: relative;
    top: 120px;
    margin-bottom: 245px;
}

.slider {
    position: relative;
    height: 500px;
}

.slider .indicators {
    position: absolute;
    right: 0;
    bottom: 40px;
    left: 0;
    margin: 0;
    text-align: center;
    z-index: 999;
}

.slider .slides {
    width: 100%;
    position: absolute;
    height: 500px;
    margin: 0;
    background-color: #9e9e9e;
}

.slider .slides li {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: inherit;
    overflow: hidden;
}

.slider .slides li img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.slider .slides li .caption {
    color: #fff;
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    opacity: 0;
}

.slider_geral {
    padding-top: 60px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
    margin-bottom: 0px;
    background: url(../img/bg.jpg) fixed bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.img_slider {
    cursor: default;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100% !important;
    overflow: hidden;
}

.banner_slide {
    width: 100%;
    height: 100% !important;
}


/* 
.shadow_slider {
    display: block;
    overflow: hidden;
    width: 100%;
    margin-top: -1px;
}
*/

.shadow_slider {
    display: block;
    overflow: hidden;
    width: 100%;
    margin-top: -1px;
    /* position: absolute; */
    bottom: 8px;
    left: 0;
    right: 0;
}

.bt_ball {
    position: absolute;
    margin-top: -140px;
    z-index: 999;
    width: 64px;
    left: 50%;
    margin-left: -32px;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]),
.select-wrapper input.select-dropdown:focus,
.ql-container.focus {
    background-image: linear-gradient(#470926, #7d1144), linear-gradient(#d9d9d9, #d9d9d9);
}

.tag_title {
    margin-bottom: 0
}


/** footer **/

.tw {
    width: 30px;
    height: 28px;
    float: right;
    background-position: -36px top;
    overflow: hidden;
    position: relative;
}

.tw:hover {
    width: 101px;
}


/** pace **/

.pace {
    position: relative;
    z-index: 9999999999999999999;
}

.pace .pace-progress {
    background: var(--gradient-45deg-darken-pink-pink) !important;
    height: 3px;
}

@media screen and (max-width: 899px) {
    .sidebar .sidebar-content .sidenav-trigger {
        position: absolute;
        top: 92px !important;
        left: 0px !important;
        display: block;
    }
    .tag_title {
        padding-left: 30px;
    }
}

#filters {
    padding-top: 30px;
}

.content-area {
    width: calc(100% - 280px);
    margin-top: 49px
}

.content-area.content-left {
    float: left
}

.content-area.content-right {
    float: right
}

.content-area {
    margin-top: 0px !important;
}

.modal-overlay {
    z-index: 9999 !important;
}

.modal {
    z-index: 10000 !important;
    width: 800px;
}

.modal.inline .modal-content {
    display: flex;
    place-content: center;
    align-items: center;
    padding: 50px;
}

.modal.inline .modal-content .content {
    display: flex;
}

.shadow_int {
    width: 60px;
}

@media screen and (max-width: 899px) {
    .modal {
        width: 80%;
    }
    .modal.inline .modal-content {
        flex-direction: column;
        padding: 24px;
    }
}