/*
=====================================================================
*   Layout desenvolvido por Luiz Felipe (Felipe Strong)
*   Site: www.tacticweb.com.br
=====================================================================
*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.collection {
    border: none;
}

.collection-item {
    background: rgba(255, 255, 255, 0.2) !important;
    border-color: #000 !important;
    color: var(--amber) !important
}

.collection-item .circle {
    background: transparent !important;
}

.collection-item .materialboxed {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    height: 100%;
    vertical-align: middle;
}

html,
body {
    margin: 0;
    color: #000;
    font-family: 'Abel', sans-serif;
    height: 100%;
}

::selection {
    background: var(--amber);
    color: #000;
    /* color: #d70206; */
}

::-moz-selection {
    background: #000;
    color: #d70206;
}

html {
    height: 100%;
}

a,
img {
    text-decoration: none;
    border: none;
    color: #000;
}

body {
    background: url('../img/bg.jpg');
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

[type=checkbox]:not(:checked):disabled+span:not(.lever):before {
    border: none;
    background-color: rgba(255, 255, 255, .42);
}

@font-face {
    font-family: "social";
    src: url("../fontes/social_font.ttf") format("truetype");
}

.f_social {
    font-family: "social";
}

@font-face {
    font-family: "futura";
    src: url("../fontes/futura.ttf") format("truetype");
}

.f_futura {
    font-family: "futura";
}

@font-face {
    font-family: "avante";
    src: url("../fontes/avante.ttf") format("truetype");
}

.f_avante {
    font-family: "avante";
}

@font-face {
    font-family: "bebas";
    src: url("../fontes/bebas.ttf") format("truetype");
}

.f_bebas {
    font-family: "bebas";
}

@font-face {
    font-family: "ftemaki";
    src: url("../fontes/ftemaki.ttf") format("truetype");
}

.ftemaki {
    font-family: "ftemaki";
}

@font-face {
    font-family: "everafter";
    src: url("../fontes/everafter.ttf") format("truetype");
}

.f_everafter {
    font-family: "everafter";
}

.img_cem {
    /* width: 100%; */
}

.area_left {
    width: 75%;
    height: 100%;
    float: left;
    overflow: hidden;
    background: url('../img/bg_login.jpg') no-repeat right center, #000;
    position: fixed;
}

.logotw {
    width: 450px;
    overflow: hidden;
    margin: 50px 0 30px 10%;
}

.title_tela1 {
    color: #fff;
    font-size: 38px;
    width: 350;
    overflow: hidden;
    margin: 50px 0 0px 10%;
}

.title_tela2 {
    color: #fff;
    font-size: 48px;
    width: 350;
    overflow: hidden;
    margin: 0px 0 30px 10%;
}

.area_right {
    float: right;
    height: 100%;
    width: 25%;
    background: #fff;
    color: #000;
    position: fixed;
    right: 0;
}

.logo_cliente {
    text-align: center;
    width: 92px;
    height: 103px;
    margin: 30px auto 30px auto;
    overflow: hidden;
}

.form_login {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}

.text_form {
    overflow: hidden;
    margin-bottom: 5px;
    color: #666;
}

.box_form_login {
    background: #fff;
    border: solid 1px #fff;
    border-bottom: 1px solid #ffc802;
    margin-bottom: 10px;
    padding: 15px 0;
    width: 100%;
}

.bt_login {
    background: #ffc802;
    border: #ffc802 solid 1px;
    color: #000;
    font-family: 'abel';
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    margin-bottom: 30px;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    cursor: pointer;
}

.bt_login:hover {
    background: #000;
    border: #000 solid 1px;
    color: #ffc802;
}

.aviso {
    font-size: 18px;
    color: #666;
    overflow: hidden;
}

.menu_left {
    width: 280px;
    height: 100%;
    float: left;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99990;
}

#main {
    padding-left: 280px !important;
    min-height: 100%;
}

.container_right {
    /* float: right; */
    /* width: 80%; */
    /* padding-bottom: 90px; */
    /* overflow: hidden; */
    /* left: 280px; */
    /* right: 0px; */
    /* position: absolute !important; */
    /* overflow-x: hidden; */
    /* min-height: 100%; */
    width: inherit;
}

.logo_tw_topo {
    width: 70%;
    margin: 30px;
    overflow: hidden;
}

.logo_tw_topo img {
    width: 100%;
}

.menu_dashboard {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}

.lk_menu {
    background: #ffc802;
    color: #000;
    font-family: 'abel';
    font-weight: bold;
    display: block;
    padding: 10px 0 10px 10px;
    font-size: 18px;
    margin-bottom: 2px;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    cursor: pointer;
    border-left: 10px solid #000;
}

.lk_menu:hover {
    background: #000;
    color: #ffc802;
    padding: 10px 0 10px 20px;
}

.title_pg {
    font-size: 32px;
    color: #fff;
    overflow: hidden;
    display: block;
    /* margin-left: 40px;
margin-top: 40px;
margin-right: 70px;
margin-bottom: 70px;
padding-bottom: 15px;
display: flex;
align-items: center; */
    border-bottom: solid 1px #ffc802;
    justify-content: space-between;
    position: fixed;
    height: 80px;
    display: flex;
    left: 280px;
    right: 0;
    padding-left: 40px;
    place-content: center;
    align-items: center;
    background: #000;
    z-index: 999;
}

.title_pg .input-field {
    display: flex;
    flex: 1;
    margin: 0;
}

.busca {
    background: #000;
    border: solid 1px #ffc802;
    padding: 20px;
    margin-bottom: 30px;
    float: left;
    width: 250px;
}

.bt_buscar {
    background: #ffc802;
    border: solid 1px #ffc802;
    padding: 20px;
    margin-bottom: 30px;
    float: left;
    width: 100px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.area_dashboard {
    display: block;
    margin-left: 40px;
    margin-right: 50px;
    padding-top: 12px;
}

.boas_vindas {
    color: #fff;
    font-size: 18px;
    overflow: hidden;
    margin-bottom: 30px;
    display: block;
}

.valor_form {
    font-size: 24px;
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #2f2f2f;
    margin-bottom: 10px;
}

.conj_dash {
    padding: 20px 20px 10px 20px;
    border: solid 1px #ffc802;
    border-radius: 10px;
    float: left;
    color: #fff;
    width: 250px;
    text-align: center;
    margin-right: 25px;
    margin-bottom: 25px;
    transition: all .5s ease;
}

.conj_dash:hover {
    background: #ffc802;
    color: #000;
}

.item_dash {
    font-size: 24px;
}

.valor_dash {
    font-size: 94px;
}

.col_dashboard {
    float: left;
    border-radius: 50%;
    border: solid 2px #ffc802;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    color: #fff;
    text-align: center;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

.col_dashboard:hover {
    background: #ffc802;
    color: #000;
}

.col_dashboard .title_col {
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 18px;
    overflow: hidden;
}

.col_dashboard .n_qt {
    font-size: 68px;
    overflow: hidden;
}

.btn {
    font-family: bebas, sans-serif;
    font-size: 24px;
}

.btn:disabled {
    background: rgba(255, 255, 255, 0.05) !important;
    color: rgba(255, 255, 255, 0.22) !important;
}

.btn.btn-large {
    font-size: 28px;
    line-height: 3rem;
    line-height: 45px;
    height: 45px;
    padding: 0 28px;
}

.bts_acao {
    overflow: hidden;
    display: block;
    /* margin-bottom: 20px; */
    /* margin-left: 40px; */
}

.btn,
.bt_ac,
.panel .toolbar .btn {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    float: left;
    margin-right: 2px;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    font-family: bebas, sans-serif;
    width: auto;
    border-radius: 0;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

.btn:hover,
.bt_ac:hover,
.panel .toolbar .btn:hover {
    background-color: #ffc802;
    color: #000;
}

.btn#preview:hover i {
    color: rgba(255, 255, 255, 1) !important;
}

.btn#preview {
    width: 40px;
}

.btn-floating {
    padding: 0;
    border-radius: 28px;
}

.toast {
    min-height: auto;
}

.conj_list {
    overflow: hidden;
    margin-bottom: 2px;
}

.name_list {
    width: 48%;
    padding: 13px 20px;
    color: #fff;
    font-size: 14px;
    text-align: left;
    float: left;
    margin-right: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
}

.categ_list {
    width: 30%;
    padding: 13px 20px;
    color: #fff;
    font-size: 14px;
    text-align: left;
    float: left;
    margin-right: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
}

.bt_edit {
    /* width: 44px;
height: 44px;
overflow: hidden;
margin-right: 2px;
float: left;
background: url('../img/bt_edit.png') no-repeat left top;
transition: all .5s ease;
-moz-transition: all .5s ease;
-webkit-transition: all .5s ease;
cursor: pointer; */
    width: 44px;
    height: 44px;
    border-radius: 28px;
    overflow: hidden;
    margin-right: 2px;
    background: url("../img/bt_edit.png") no-repeat left center;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

.bt_edit:hover {
    background: url('../img/bt_edit.png') no-repeat right top, #ffc802;
}

.bt_destaque {
    width: 44px;
    height: 44px;
    overflow: hidden;
    float: left;
    background: url('../img/bt_destaque.png') no-repeat left top;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    cursor: pointer;
}

.bt_destaque:hover {
    background: url('../img/bt_destaque.png') no-repeat right top, #ffc802;
}

.btn_add_new_image,
.bt_excluir {
    width: 45px;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    border-left: 1px solid;
    display: flex;
    place-content: center;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    cursor: pointer;
}

.btn_add_new_image,
.bt_excluir {
    display: flex;
    align-items: center;
    place-content: center;
}

.bt_excluir::before {
    /* content: 'delete_forever'; */
}

.bt_adicionar::before {
    /* content: 'add_photo_alternate'; */
}

.bt_excluir:hover {
    /* background: url('../img/bt_excluir.png') no-repeat -41px center, #ffc802; */
}

.text_form_inc {
    display: block;
    margin-top: 20px;
    color: #fff;
    margin-bottom: 5px;
}

.box_input {
    width: 50%;
    padding: 13px 20px;
    color: #000;
    font-size: 14px;
    text-align: left;
    margin-right: 2px;
    background-color: rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #000;
}

.bt_form {
    background: #ffc802;
    border: #ffc802 solid 1px;
    color: #000;
    font-family: 'abel';
    font-weight: bold;
    width: 50%;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    margin-bottom: 30px;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    cursor: pointer;
}

.bt_form:hover {
    background: #000;
    border: #000 solid 1px;
    color: #ffc802;
}

.info {
    font-size: 12px;
    color: #999;
}

.conj_img_edit {
    /* height: 3rem; */
    /* width: 50%; */
    background-color: rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    padding: 5px 0px;
}

.img_icon_pdf {
    float: left;
    width: 50px;
    height: 3rem;
    margin-left: 5px;
    margin-right: 10px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}

.img_icon_pdf::before {
    content: 'image';
    display: flex;
    place-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
}

.img_icon_pdf img {
    position: absolute;
    height: 100%;
}

.conj_img_edit input[type="file"] {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -1;
}

.nome_arquivo {
    color: #fff;
    top: 0;
    left: 0px;
    width: inherit;
    width: inherit;
    max-width: 550px;
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.copyright {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
    width: 350px;
    text-align: right;
    color: #fff;
    font-size: 12px;
}

.name_list_banner {
    width: 80%;
    padding: 13px 20px;
    color: #fff;
    font-size: 14px;
    text-align: left;
    float: left;
    margin-right: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
}

.name_list_atualidades {
    width: 80%;
    padding: 13px 20px;
    color: #fff;
    font-size: 14px;
    text-align: left;
    float: left;
    margin-right: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
}

.bt_mob {
    display: none;
}

@media only screen and (max-width: 800px) {
    .area_left {
        width: 75%;
        height: 100%;
        float: left;
        overflow: hidden;
        background: url('../img/bg_login.jpg') no-repeat right center, #000;
        display: none;
    }
    .logotw {
        width: 450px;
        overflow: hidden;
        margin: 50px 0 30px 10%;
    }
    .title_tela1 {
        color: #fff;
        font-size: 38px;
        width: 350;
        overflow: hidden;
        margin: 50px 0 0px 10%;
    }
    .title_tela2 {
        color: #fff;
        font-size: 48px;
        width: 350;
        overflow: hidden;
        margin: 0px 0 30px 10%;
    }
    .area_right {
        float: none;
        height: 100%;
        width: 100%;
        background: #fff;
        color: #000;
        padding-top: 40px;
    }
    .logo_cliente {
        text-align: center;
        width: 92px;
        height: 103px;
        margin: 0px auto 30px auto;
        overflow: hidden;
    }
    .form_login {
        width: 80%;
        overflow: hidden;
        margin: 0 auto;
    }
    .text_form {
        overflow: hidden;
        margin-bottom: 5px;
        color: #666;
    }
    .box_form_login {
        background: #fff;
        border: solid 1px #fff;
        border-bottom: 1px solid #ffc802;
        margin-bottom: 10px;
        padding: 15px 0;
        width: 100%;
    }
    .bt_login {
        background: #ffc802;
        border: #ffc802 solid 1px;
        color: #000;
        font-family: 'abel';
        font-weight: bold;
        width: 100%;
        text-align: center;
        padding: 15px 0;
        font-size: 18px;
        margin-bottom: 30px;
        transition: all .5s ease;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
        cursor: pointer;
    }
    .bt_login:hover {
        background: #000;
        border: #000 solid 1px;
        color: #ffc802;
    }
    .aviso {
        font-size: 12px;
        color: #666;
        overflow: hidden;
    }
    .menu_left {
        width: 100%;
        height: auto;
        float: none;
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
    }
    .container_right {
        float: none;
        width: 100%;
        padding-bottom: 90px;
        overflow: hidden;
        padding-top: 50px;
    }
    .logo_tw_topo {
        width: 30%;
        margin: 20px;
        overflow: hidden;
    }
    .menu_dashboard {
        width: 80%;
        overflow: hidden;
        margin: 0 auto;
        display: none;
        margin-bottom: 30px;
    }
    .bt_mob {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 999;
        width: 30px;
        cursor: pointer;
        display: block;
    }
    .lk_menu {
        background: #ffc802;
        color: #000;
        font-family: 'abel';
        font-weight: bold;
        display: block;
        padding: 10px 0 10px 10px;
        font-size: 18px;
        margin-bottom: 2px;
        transition: all .5s ease;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
        cursor: pointer;
        border-left: 10px solid #000;
    }
    .lk_menu:hover {
        background: #000;
        color: #ffc802;
        padding: 10px 0 10px 20px;
    }
    .title_pg {
        font-size: 32px;
        color: #fff;
        overflow: hidden;
        display: block;
        margin-left: 40px;
        margin-top: 40px;
        margin-right: 40px;
        margin-bottom: 70px;
        padding-bottom: 15px;
        border-bottom: solid 1px #ffc802;
        text-align: center;
    }
    .area_dashboard {
        display: block;
        margin-left: 40px;
        margin-right: 40px;
    }
    .col_dashboard {
        float: none;
        border-radius: 50%;
        border: solid 2px #ffc802;
        overflow: hidden;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        width: 200px;
        height: 200px;
        color: #fff;
        text-align: center;
        transition: all .5s ease;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
    }
    .col_dashboard:hover {
        background: #ffc802;
        color: #000;
    }
    .col_dashboard .title_col {
        width: 150px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 5px;
        font-size: 18px;
        overflow: hidden;
    }
    .col_dashboard .n_qt {
        font-size: 68px;
        overflow: hidden;
    }
    .bts_acao {
        overflow: hidden;
        display: block;
        border-bottom: solid 1px #ffc802;
        margin-bottom: 20px;
    }
    .bt_ac {
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.1);
        float: left;
        margin-right: 2px;
        color: #fff;
        text-transform: uppercase;
        font-size: 25px;
        transition: all .5s ease;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
    }
    .bt_ac:hover,
    .btn {
        background-color: #ffc802;
        color: #000 !important;
    }
    .conj_list {
        overflow: hidden;
        margin-bottom: 2px;
    }
    .name_list {
        width: 25%;
        padding: 13px 20px;
        color: #fff;
        font-size: 14px;
        text-align: left;
        float: left;
        margin-right: 2px;
        background-color: rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.2);
        height: 80px;
        overflow: hidden;
    }
    .categ_list {
        width: 25%;
        padding: 13px 20px;
        color: #fff;
        font-size: 14px;
        text-align: left;
        float: left;
        margin-right: 2px;
        background-color: rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.2);
        height: 80px;
        overflow: hidden;
    }
    .bt_edit {
        width: 44px;
        height: 44px;
        overflow: hidden;
        margin-right: 2px;
        float: left;
        background: url('../img/bt_edit.png') no-repeat left top;
        transition: all .5s ease;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
        cursor: pointer;
    }
    .bt_edit:hover {
        background: url('../img/bt_edit.png') no-repeat right top, #ffc802;
    }
    .bt_excluir {
        width: 44px;
        height: 44px;
        overflow: hidden;
        float: left;
        /* background: url('../img/bt_excluir.png') no-repeat left top; */
        transition: all .5s ease;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
        cursor: pointer;
    }
    .bt_excluir:hover {
        background: url('../img/bt_excluir.png') no-repeat right top, #ffc802;
    }
    .text_form_inc {
        display: block;
        margin-top: 20px;
        color: #fff;
        margin-bottom: 5px;
    }
    .box_input {
        width: 100%;
        padding: 13px 20px;
        color: #000;
        font-size: 14px;
        text-align: left;
        margin-right: 2px;
        background-color: rgba(255, 255, 255, 0.4);
        background: rgba(255, 255, 255, 0.4);
        border: 1px solid #000;
    }
    .bt_form {
        background: #ffc802;
        border: #ffc802 solid 1px;
        color: #000;
        font-family: 'abel';
        font-weight: bold;
        width: 100%;
        text-align: center;
        padding: 15px 0;
        font-size: 18px;
        margin-bottom: 30px;
        transition: all .5s ease;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
        cursor: pointer;
    }
    .bt_form:hover {
        background: #000;
        border: #000 solid 1px;
        color: #ffc802;
    }
    .info {
        font-size: 12px;
        color: #999;
    }
    .conj_img_edit {
        height: 44px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.2);
    }
    .img_icon_pdf {
        float: left;
        width: 44px;
        height: 44px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .nome_arquivo {
        /* float: left;
margin-top: 9px;
color: #fff;
width: 150px; */
        left: 30px;
    }
    .copyright {
        position: fixed;
        right: 0;
        bottom: 0;
        padding: 10px 20px;
        width: 350px;
        text-align: right;
        color: #fff;
        font-size: 12px;
        display: none;
    }
    .name_list_banner {
        width: 55%;
        padding: 13px 20px;
        color: #fff;
        font-size: 14px;
        text-align: left;
        float: left;
        margin-right: 2px;
        background-color: rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.2);
    }
    .name_list_atualidades {
        width: 39%;
        padding: 13px 20px;
        height: 44px;
        overflow: hidden;
        color: #fff;
        font-size: 14px;
        text-align: left;
        float: left;
        margin-right: 2px;
        background-color: rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.2);
    }
}

.progress .indeterminate {
    background-color: var(--amber);
}

.pace .pace-progress {
    background: var(--amber) !important;
}


/* Select */

.select-dropdown {}

.dropdown-content {
    background-color: #222;
    width: 100% !important;
}

.select-dropdown li.disabled,
.select-dropdown li.disabled>span,
.select-dropdown li.optgroup {
    color: rgba(255, 255, 255, .4);
    background-color: transparent;
}

.dropdown-content li.active,
.dropdown-content li:hover,
.dropdown-content li.active,
.dropdown-content li:hover,
.dropdown-content li>a.active,
.dropdown-content li>a:hover,
.dropdown-content li>span.active,
.dropdown-content li>span:hover {
    background-color: rgba(0, 0, 0, .38);
}

.select-dropdown.dropdown-content li.selected {
    background-color: rgba(0, 0, 0, .33);
}

input.select-dropdown.dropdown-trigger {
    color: rgba(255, 255, 255, 0.65);
}

.select-dropdown.dropdown-content li:not(.disabled)>span {
    color: #fff;
}

input.select-dropdown.dropdown-trigger.selected,
input.select-dropdown.dropdown-trigger {
    color: var(--amber-text);
}


/* Panel */

.panel {
    background-color: transparent !important;
    margin-top: 0;
    position: inherit;
    border-radius: 0px;
    border: none;
}

.panel .panel-content {
    position: relative;
    top: 180px;
    padding-bottom: 50px;
}

.panel .panel-body {
    padding: 0;
    height: inherit;
    position: inherit;
}

.panel .toolbar {
    place-content: center flex-start;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
    height: 49px;
    justify-content: start;
    position: absolute;
    left: 40px;
    right: 50px;
    border-bottom: 1px solid #ffa000 !important;
}

.panel .toolbar .btn {
    margin: 0 10px 0 0px;
}

.panel .toolbar .buttons {
    margin: 0;
}


/** Tables **/

table tr {
    background: transparent !important;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: ease-in-out 0.2s;
    width: 100%;
}

.dataTables_wrapper {
    position: inherit;
}

.dataTables_wrapper .dataTables_processing {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0px;
    text-align: center;
    font-size: 1.2em;
    background: none;
    z-index: 999;
    bottom: 0 !important;
}

.dataTables_scrollBody {
    height: calc(100vh - 385px) !important;
}

.dataTables_empty {
    border: none !important;
    position: relative;
    text-align: center;
    width: 100%;
    padding: 15px !important;
    cursor: text;
}

table.dataTable tr.blocked {
    color: rgba(255, 255, 255, 0.3);
    background: rgba(184, 90, 90, 0.12);
}

table.dataTable tbody td {
    padding: 10px 20px;
}

table.datatable .dropdown-trigger:hover {
    background: var(--amber);
}

table.datatable .dropdown-trigger:hover i {
    color: #000;
}

.pagination li .btn {
    text-align: center;
    font-size: 1rem !important;
    line-height: 1rem !important;
    margin-left: 5px;
}

.pagination li .btn i {
    font-size: 1.5rem !important;
}

.pagination li .btn.active {
    background-color: var(--amber);
    color: #000;
}

.btn:disabled {
    background-color: transparent !important;
    opacity: 0.6;
}

.btn:disabled i,
.pagination li .btn:disabled i,
.pagination li .btn:not(.active):disabled {
    color: rgba(255, 255, 255, 0.2) !important
}

.dataTables_wrapper .span12 {
    display: flex;
    flex-direction: row-reverse;
    flex: 1 auto;
    place-content: center;
    align-items: center;
    height: 40px;
    padding-top: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    display: flex;
    padding: 0;
    flex: 1 0;
    position: absolute;
}

.dataTables_wrapper .dataTables_info {
    left: 0;
    /* padding: 0 20px; */
}

.dataTables_wrapper .dataTables_paginate {
    right: 0;
}

#composer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #222;
    z-index: 999;
    padding: 24px;
}


/* Editor */

.ql-toolbar.ql-snow {
    background: rgba(255, 255, 255, 0);
    border-bottom: none;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
    border-color: rgba(255, 255, 255, 0.5)
}

.ql-toolbar.ql-snow .ql-format span {
    color: #fff !important;
}

.ql-toolbar.ql-snow+.ql-container.ql-snow {
    background: rgba(255, 255, 255, 0);
    color: #fff;
}

.ql-editor.ql-blank::before {
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
}


/* Character Counter */

.character-counter {
    color: var(--amber);
}


/* Tooltip */

.material-tooltip {
    margin: 0;
    padding: 0px 15px;
    line-height: 2rem;
    height: 1rem;
    font-size: 18px;
    margin-top: -15px;
    /* height: */
}


/* Cartão de Mapa da página de contatos */

.card-reveal {
    padding: 0 !important;
}

.card-reveal button {
    position: absolute;
    z-index: 9999;
    right: 25px;
    top: 25px;
    width: 40px;
    background: rgba(0, 0, 0, 0.8) !important
}

.card-reveal #iframe iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.tabs li.disabled a {
    color: rgba(255, 255, 255, 0.3) !important;
    background: transparent !important
}

.chips .chip {
    background-color: var(--amber);
}

.switch {
    padding: 20px 0;
}

.switch label {
    font-size: 1rem;
    margin-right: 30px;
}

.input-field .error {
    position: relative;
    left: 0;
    width: auto;
    font-size: 15px !important;
    color: #ff8400 !important;
    font-weight: 400;
    display: flex;
    align-items: flex-start;
    line-height: normal;
    margin-top: 3px;
    padding-left: 15px;
}