@font-face {
	font-family: 'Amsterdam';
	src: url('../fonts/amsterdam.ttf');
}

@font-face {
	font-family: 'open-sans';
	src: url('../fonts/open-sans.ttf');
}

body {
	font-family: 'open-sans';
}

header .brand-logo {
	color: #000
}

header .brand-logo::before {
	content: '';
	background-image: url('../img/site/logo/logo-ico.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 90px;
	height: 90px;
	float: left;
	margin-right: 38px;
}

.brand-logo {
	font-family: 'Amsterdam';
	font-size: 28px !important;
	line-height: 3;
	height: 3rem;
	text-align: center;
	display: flex;
	place-content: center;
	align-items: center;
	margin-top: 50px;
}

.brand-logo img {
	float: left;
	width: 90px;
	margin-right: 38px;
}

.brand-logo p {
	float: left;
	margin: 0;
}

.brand-logo small {
	display: block;
	font-style: normal;
	text-transform: uppercase;
	font-family: 'open-sans';
	font-size: 7px;
	letter-spacing: 5px;
	line-height: 1;
}

.aw.lighten-2 {
	background-color: #FFF !important;
	opacity: 1;
}


nav .nav-background {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	opacity: 0.5;
}

/** Menu **/
nav ul {
	margin-top: 50px;
}

nav ul a {
	color: #000;
}

nav.nav-extended {
	display: flex;
	flex: 1 auto;
	align-items: center
}
