@charset "utf-8";

/*TÍTULOS*/
.base_title{
  padding: 120px 10% 40px 10%;
  display: block;
  overflow: hidden;
  margin-bottom: 90px;
  color: #fff;
}

.title_noticia_img{
  background: url('../img/titles/noticia.jpg') center top fixed;
  background-size: cover;
}

.title_foto_img{
  background: url('../img/titles/foto.jpg') center top fixed;
  background-size: cover;
}

.title_video_img{
  background: url('../img/titles/video.jpg') center top fixed;
  background-size: cover;
}

.icon_title{
  width: 60px;
  float: left;
  overflow: hidden;
}

.name_title{
  font-family: 'bebas';
  font-size: 44px;
  float: left;
  margin-left: 20px;
}

/*BASES*/
.base{
  width: 75%;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
}

.base_esq{
  float: left;
  width: 75%;
  overflow: hidden;
  display: block;
}

.base_dir{
  float: right;
  width: 20%;
  overflow: hidden;
  display: block;
}

/*LISTAGEM*/
.s_item{
    font-family: 22px;
    color: #c70000;
    overflow: hidden;
    display: block;
    font-size: 28px;
    font-family: 'myriad_b';
    margin-bottom: 25px;
}

.conj_item_cont{
  overflow: hidden;
  display: block;
  margin-bottom: 40px;
}

.img_item_cont{
  width: 20%;
  float: left;
  overflow: hidden;
}

.info_item_cont{
  float: left;
  margin-left: 30px;
  overflow: hidden;
  display: block;
  width: 50%;
}

.title_itemm_cont{
  font-family: 'myriad_b';
  font-size: 28px;
  color: #363636;
  overflow: hidden;
  margin-bottom: 30px;
  text-align: left;
  line-height: 28px;
}

.data_item{
  color: #535353;
}

.paginacao{
  display: block;
  overflow: hidden;
}

.paginacao ul li .n_page{
  float: left;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #828282;
  font-size: 14px;
  cursor: pointer;
}

.paginacao ul li .n_select{
  background: #ff4e00;
  color: #fff;
}

/*PUBLICIDADE*/
.publicidade1{
  background: #e1e1e1;
  border-radius: 8px;
  display: block;
  overflow: hidden;
  height: 600px;
  margin-bottom: 30px;
}

.publicidade2{
  background: #e1e1e1;
  border-radius: 8px;
  display: block;
  overflow: hidden;
  height: 300px;
  margin-bottom: 30px;
}

/*NOTÍCIA INC*/
.title_item_inc{
  font-family: 'myriad_b';
  font-size: 40px;
  color: #363636;
  overflow: hidden;
  margin-bottom: 25px;
  display: block;
}

.compartilhamento{
  float: left;
  width: 120px;
  overflow: hidden;
  margin-bottom: 35px;
}

.icon_comp{
  float: left;
  width: 20px;
  overflow: hidden;
  margin: 0 10px;
}

.corpo_texto{
  font-size: 18px;
  color: #8d8d8d;
  line-height: 30px;
  text-align: justify;
  float: none;
  clear: both;
  display: block;
  margin-bottom: 90px;
}

.img_not_inc{
  float: left;
  width: 50%;
  margin-right: 25px;
  margin-bottom: 5px;
}

.sub_item{
  font-family: 'myriad_b';
  font-size: 32px;
  color: #363636;
  overflow: hidden;
  margin-bottom: 35px;
  display: block;
}

/*VÍDEO*/
.video_player{
  width: 100%;
  display: block;
  min-height: 550px;
  margin-bottom: 80px;
}

/*FOTOS*/
.galeria{
  display: block;
  margin-bottom: 50px;
  overflow: hidden;
  clear: both;
  float: none.
}

/*CONTATO*/
.form_contato{
  overflow: hidden;
  display: block;
  margin-bottom: 40px;
  width: 600px;
}

.input_esq{
  padding: 15px 15px;
  width: 260px;
  float: left;
  background: #efefef;
  font-size: 18px;
  font-family: 'myriad_n';
  color: #363636;
  border-radius: 5px;
  border: solid 1px #efefef;
  margin-bottom: 20px;
}

.input_dir{
  padding: 15px 15px;
  width: 260px;
  float: right;
  background: #efefef;
  font-size: 18px;
  font-family: 'myriad_n';
  color: #363636;
  border-radius: 5px;
  border: solid 1px #efefef;
  margin-bottom: 20px;
}


.input_msg{
  padding: 15px 15px;
  width: 95%;
  background: #efefef;
  font-size: 18px;
  font-family: 'myriad_n';
  color: #363636;
  border-radius: 5px;
  border: solid 1px #efefef;
  margin-bottom: 20px;
  clear: both;
  display: block;
}

.bt_contato{
  padding: 15px 15px;
  width: 250px;
  float: right;
  background: #ff8400;
  font-size: 24px;
  font-family: 'myriad_b';
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border: solid 1px #ff8400;
  margin-bottom: 20px;
  cursor: pointer;
}

.contatos{
  display: block;
  overflow: hidden;
}

.conj_contato{
  float: left;
  margin-right: 20px;
  width: 40%;
  overflow: hidden;
  display: block;
}

.icon_contato{
  width: 50px;
  float: left;
  overflow: hidden;
  margin-bottom: 50px;
}

.cont_contato{
  width: 70%;
  float: left;
  overflow: hidden;
  margin-left: 25px;
  margin-bottom: 50px;
}

.cont_contato2{
  width: 70%;
  float: left;
  overflow: hidden;
  margin-left: 25px;
  font-size: 22px;
  font-family: 'myriad_b';
}

.mapa{
  width: 70%;
  height: 400px;
  border: solid 1px #fff;
}

/*03 de junho de 2020*/
/*headers*/
.headers{
  display: block;
  overflow: hidden;
}

.bg_header{
  width: 100%;
  overflow: hidden;
}

.title_header{
  font-family: 'bebas';
  font-size: 100px;
  color: #fff;
  text-shadow: 0 0 40px #000;
  position: absolute;
  margin-top: -450px;
  left: 10%;
}

/*modo1*/
.modo1{
  margin-bottom: 80px;
  overflow: hidden;
  display: block;
}

.modo1 .esq{
  padding-left: 10%;
  float: left;
  width: 30%;
  overflow: hidden;
  display: block;
}

.modo1 .dir{
  float: right;
  width: 55%;
  overflow: hidden;
  display: block;
}

.modo1 .esq .title1{
  font-family: 'bebas';
  line-height: 60px;
  font-size: 70px;
  padding: 15px 0;
  overflow: hidden;
  margin-bottom: 30px;
}

.modo1 .esq .text{
  line-height: 28px;
  color: #4a4a4a;
  font-size: 18px;
  padding: 15px 0;
  overflow: hidden;
  margin-bottom: 30px;
}

/*modo2*/
.modo2{
  display: block;
  overflow: hidden;
}

.modo2 .bg_modo2{
  display: block;
  overflow: hidden;
}

.modo2 .container{
  position: absolute;
  margin-top: -1000px;
  width: 70%;
  left: 50%;
  margin-left: -35%;
  color: #fff;
  display: block;
  overflow: hidden;
}

.modo2 .container .titulo{
  font-family: 'myriad_b';
  font-size: 48px;
  overflow: hidden;
  margin-bottom: 20px;
}

.modo2 .container .texto{
  font-size: 18px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 70%;
}

/*modo3*/
.modo3{
  margin-bottom: 80px;
  overflow: hidden;
  display: block;
}

.modo3 .dir{
  padding-right: 10%;
  float: right;
  width: 30%;
  overflow: hidden;
  display: block;
}

.modo3 .esq{
  float: left;
  width: 55%;
  overflow: hidden;
  display: block;
}

.modo3 .dir .title1{
  font-family: 'bebas';
  line-height: 60px;
  font-size: 70px;
  padding: 15px 0;
  overflow: hidden;
  margin-bottom: 30px;
}

.modo3 .dir .text{
  line-height: 28px;
  color: #4a4a4a;
  font-size: 18px;
  padding: 15px 0;
  overflow: hidden;
  margin-bottom: 30px;
}

.modo3 .bt_participar{
  width: 350px;
  text-align: center;
  color: #fff;
  font-family: 'myriad_b';
  font-size: 24px;
  padding: 15px 0;
  border-radius: 10px;
  background: #e68200;
  margin-bottom: 15px;
  cursor: pointer;
}


/*cadastro*/
.base_cadast{
  overflow: hidden;
  display: block;
}

.inf_cadast{
  float: left;
  padding: 0;
  width: 70%;
  overflow: hidden;
  display: block;
  background: url('../img/bg_cadast.jpg') no-repeat top left fixed;
  background-size: contain;
  color: #fff;
  min-height: 1150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inf_cadast{
  float: left;
  padding: 0;
  width: 70%;
  overflow: hidden;
  display: block;
  background: url('../img/bg_cadast.jpg') no-repeat top left fixed;
  background-size: contain;
  color: #fff;
  min-height: 1150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inf_cadast .container{
  padding-left: 20%;
}

.inf_cadast .titulo1{
  font-family: 'bebas';
  font-size: 72px;
  margin-bottom: 5px;
}

.inf_cadast .titulo2{
  font-family: 'futura';
  font-size: 20px;
  margin-bottom: 55px;
  margin-top: -20px;
}

.inf_cadast .texto{
  padding-right: 35%;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 55px;
}

.inf_cadast .texto_destaque{
  padding-right: 15%;
  font-family: 'myriad_b';
  font-size: 38px;
  line-height: 40px;
}

.box_form_cadast{
  float: right;
  width: 22%;
  background: #fff;
  padding: 150px 5% 60px 3%;
  overflow: hidden;
  display: block;
}

.box_form_cadast .texto{
  border-radius: 10px;
  display: block;
  overflow: hidden;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-family: 'myriad_b';
  background: #ff7e00;
  margin-bottom: 30px;
  padding: 15px;
}

.box_form_cadast .texto2{
  border-radius: 10px;
  display: block;
  overflow: hidden;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-family: 'myriad_n';
  background: #0090b9;
  margin-bottom: 30px;
  padding: 20px 15px 10px 15px;
}

.input_cadast{
  background: #dcdcdc;
  font-size: 18px;
  font-family: 'myriad_n';
  color: #6f6f6f;
  padding: 15px;
  display: block;
  margin-bottom: 15px;
  border-radius: 8px;
  border: solid 1px #dcdcdc;
  width: 80%;
}

.text_input{
  overflow: hidden;
  margin-bottom: 5px;
}

.bt_cadast_inc{
  border-radius: 10px;
  display: block;
  overflow: hidden;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-family: 'myriad_b';
  background: #10b008;
  border: 1px solid #10b008;
  margin-bottom: 30px;
  padding: 15px 25px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 45px;
}

.img_steps{
  width: 60%;
  overflow: hidden;
  display: block;
}

.box_valor{
  float: left;
  width: 44%;
  border: solid 2px #fff;
  margin: 0 2%;
  margin-bottom: 15px;
  text-align: center;
  font-size: 22px;
  font-family: 'myriad_b';
  color: #fff;
  padding: 10px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: all .5s ease;
}

.box_valor:hover{
  color: #0090b9;
  background: #fff;
}


/*28/07/2020*/
.inf_cadast2{
  float: left;
  padding: 150px 0;
  width: 70%;
  overflow: hidden;
  display: block;
  background: #f4f4f4;
  background-size: contain;
  color: #fff;
}

.inf_cadast2 .title{
  width: 80%;
  overflow: hidden;
  display: block;
  color: #3c3c3c;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 38px;
}

.cont_choose{
  width: 80%;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  color: #747474;
}

.crianca{
  float: left;
  width: 30%;
  overflow: hidden;
  margin: 40px 1.5%;
  display: block;
}

.area_select{
  border-radius: 5px;
  width: 150px;
  height: 30px;
  overflow: hidden;
  display: block;
  cursor: pointer;
  padding-top: 10px;
  margin-bottom: 5px;
}

.foto_crianca{
  border-radius: 50%;
  width: 120px;
  height: 120px;
  float: left;
  border: 2px solid #ff7800;
  overflow: hidden;
}

.info_crianca{
  float: left;
  margin-left: 30px;
  overflow: hidden;
  margin-top: 15px;
}

.nome_crianca{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 2px;
}

.bt_detalhes{
  border-radius: 5px;
  background: #cecece;
  text-align: center;
  color: #6b6b6b;
  padding: 5px;
  transition: all .5s ease;
}

.bt_detalhes:hover{
  background: #13ca00;
  color: #fff;
}

.crianca_selecionada{
  padding: 10px 25px;
  border-radius: 5px;
  margin-bottom: 5px;
  border-bottom: 1px dotted #ccc;
  overflow: hidden;
}

.foto_crianca_p{
  float: left;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.nome_crianca_p{
  float: left;
  width: 150px;
  margin-top: 15px;
  color: #a8a8a8;
  margin-left: 20px;
  font-size: 16px;
}

.excluir_crianca{
  width: 50px;
  height: 40px;
  overflow: hidden;
  float: right;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #b4b4b4;
  background: #f2f2f2;
  transition: all .5s ease;
  padding-top: 10px;
  cursor: pointer;
}

.excluir_crianca:hover{
  background: #ff0000;
}

.info_crianca2{
  float: right;
  width: 70%;
  overflow: hidden;
  margin-left: 50px;
}

.foto_crianca2{
  float: left;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.desc_crianca{
  overflow: hidden;
  text-align: justify;
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 100px;
  margin-bottom: 50px;
  border-bottom: 1px dotted #666;
}


@media only screen and (max-width: 970px) {
  /*TÍTULOS*/
  .base_title{
    padding: 190px 10% 40px 10%;
    display: block;
    overflow: hidden;
    margin-bottom: 90px;
    color: #fff;
  }

  .title_noticia_img{
    background: url('../img/titles/noticia.jpg') center top fixed;
    background-size: cover;
  }

  .title_foto_img{
    background: url('../img/titles/foto.jpg') center top fixed;
    background-size: cover;
  }

  .title_video_img{
    background: url('../img/titles/video.jpg') center top fixed;
    background-size: cover;
  }

  .icon_title{
    width: 60px;
    float: left;
    overflow: hidden;
  }

  .name_title{
    font-family: 'bebas';
    font-size: 44px;
    float: left;
    margin-left: 20px;
  }

  /*BASES*/
  .base{
    width: 75%;
  }

  .base_esq{
    float: none;
    width: 100%;
  }

  .base_dir{
    display: none;
  }

  /*LISTAGEM*/

  .img_item_cont{
    width: 100%;
    float: none;
    overflow: hidden;
    margin-bottom: 5px;
  }

  .info_item_cont{
    float: none;
    margin-left: 0px;
    overflow: hidden;
    display: block;
    width: 100%;
  }

  .title_itemm_cont{
    font-family: 'myriad_b';
    font-size: 28px;
    color: #363636;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .paginacao{
    display: block;
    overflow: hidden;
  }

  .paginacao ul li .n_page{
    float: left;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #828282;
    font-size: 14px;
    cursor: pointer;
  }

  .paginacao ul li .n_select{
    background: #ff4e00;
    color: #fff;
  }



  /*NOTÍCIA INC*/
  .title_item_inc{
    font-family: 'myriad_b';
    font-size: 30px;
    color: #363636;
    overflow: hidden;
    margin-bottom: 25px;
    display: block;
  }

  .compartilhamento{
    float: left;
    width: 120px;
    overflow: hidden;
    margin-bottom: 35px;
  }

  .icon_comp{
    float: left;
    width: 20px;
    overflow: hidden;
    margin: 0 10px;
  }

  .corpo_texto{
    font-size: 18px;
    color: #8d8d8d;
    line-height: 30px;
    text-align: justify;
    float: none;
    clear: both;
    display: block;
    margin-bottom: 90px;
  }

  .img_not_inc{
    float: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 15px;
  }



  /*VÍDEO*/
  .video_player{
    min-height: 250px;
  }


  /*CONTATO*/
  .form_contato{
    overflow: hidden;
    display: block;
    margin-bottom: 40px;
    width: 100%;
  }

  .input_esq{
    width: 80%;
    float: none;
  }

  .input_dir{
    width: 80%;
    float: none;
  }


  .input_msg{
    width: 80%;
    float: none;
  }

  .bt_contato{
    width: 80%;
    float: none;
  }

  .contatos{
    display: block;
    overflow: hidden;
  }

  .conj_contato{
    float: none;
    margin-right: 0px;
    width: 100%;
    overflow: hidden;
    display: block;
    margin-bottom: 50px;
  }

  .icon_contato{
    width: 40px;
    float: left;
    overflow: hidden;
    margin-bottom: 50px;
  }

  .cont_contato{
    width: 70%;
    float: left;
    overflow: hidden;
    margin-left: 25px;
    margin-bottom: 50px;
  }

  .cont_contato2{
    width: 70%;
    float: left;
    overflow: hidden;
    margin-left: 25px;
    font-size: 22px;
    font-family: 'myriad_b';
  }

  .mapa{
    width: 100%;
    height: 400px;
    border: solid 1px #fff;
  }


  /*03 de junho de 2020*/
  /*headers*/
  .headers{
    display: block;
    overflow: hidden;
    padding-top: 120px;
  }

  .bg_header{
    width: 100%;
    overflow: hidden;
  }

  .title_header{
    font-family: 'bebas';
    font-size: 40px;
    color: #fff;
    text-shadow: 0 0 40px #000;
    position: absolute;
    margin-top: -120px;
    left: 10%;
  }

  /*modo1*/
  .modo1{
    margin-bottom: 80px;
    overflow: hidden;
    display: block;
  }

  .modo1 .esq{
    padding-left: 10%;
    float: none;
    width: 90%;
    overflow: hidden;
    display: block;
  }

  .modo1 .dir{
    float: none;
    width: 100%;
    overflow: hidden;
    display: block;
  }

  .modo1 .esq .title1{
    font-family: 'bebas';
    line-height: 40px;
    font-size: 50px;
    padding: 15px 0;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .modo1 .esq .text{
    line-height: 28px;
    color: #4a4a4a;
    font-size: 18px;
    padding: 15px 0;
    overflow: hidden;
    margin-bottom: 30px;
    padding-right: 10%;
  }

  /*modo2*/
  .modo2{
    display: block;
    overflow: hidden;
    background: #471a02;
    padding: 80px 11% 50px 10%;
    text-align: center;
    margin-bottom: 80px;
  }

  .modo2 .bg_modo2{
    display: none;
    overflow: hidden;
  }

  .modo2 .container{
    position: static;
    margin-top: 0px;
    width: 100%;
    left: 0%;
    margin-left: 0%;
    color: #fff;
    display: block;
    overflow: hidden;
  }

  .modo2 .container .titulo{
    font-family: 'myriad_b';
    font-size: 38px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .modo2 .container .texto{
    font-size: 18px;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
  }

  /*modo3*/
  .modo3{
    margin-bottom: 80px;
    overflow: hidden;
    display: block;
  }

  .modo3 .dir{
    padding-right: 20%;
    padding-left: 10%;
    float: none;
    width: 70%;
    overflow: hidden;
    display: block;
  }

  .modo3 .esq{
    float: none;
    width: 100%;
    overflow: hidden;
    display: block;
  }

  .modo3 .dir .title1{
    font-family: 'bebas';
    line-height: 60px;
    font-size: 70px;
    padding: 15px 0;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .modo3 .dir .text{
    line-height: 28px;
    color: #4a4a4a;
    font-size: 18px;
    padding: 15px 0;
    overflow: hidden;
    margin-bottom: 30px;
    text-align: justify;
  }

  .modo3 .bt_participar{
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: 'myriad_b';
    font-size: 24px;
    padding: 15px 0;
    border-radius: 10px;
    background: #e68200;
    margin-bottom: 15px;
    cursor: pointer;
  }


  /*cadastro*/
  .base_cadast{
    overflow: hidden;
    display: block;
  }

  .inf_cadast{
    float: none;
    padding: 170px 0 50px 0;
    width: 100%;
    overflow: hidden;
    display: block;
    background: url('../img/bg_cadast.jpg') no-repeat top left fixed;
    background-size: cover;
    color: #fff;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .inf_cadast .container{
    padding-left: 0%;
    width: 70%;
    margin: 0 auto;
  }

  .inf_cadast .titulo1{
    font-family: 'bebas';
    font-size: 62px;
    margin-bottom: 5px;
  }

  .inf_cadast .titulo2{
    font-family: 'futura';
    font-size: 20px;
    margin-bottom: 55px;
    margin-top: -20px;
  }

  .inf_cadast .texto{
    padding-right: 0%;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  .inf_cadast .texto_destaque{
    padding-right: 0%;
    font-family: 'myriad_b';
    font-size: 28px;
    line-height: 40px;
  }

  .box_form_cadast{
    float: none;
    width: 80%;
    background: #fff;
    padding: 90px 10% 60px 10%;
    overflow: hidden;
    display: block;
  }

  .box_form_cadast .texto{
    border-radius: 10px;
    display: block;
    overflow: hidden;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-family: 'myriad_b';
    background: #ff7e00;
    margin-bottom: 30px;
    padding: 15px;
  }

  .box_form_cadast .texto2{
    border-radius: 10px;
    display: block;
    overflow: hidden;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: 'myriad_n';
    background: #0090b9;
    margin-bottom: 30px;
    padding: 20px 15px 10px 15px;
  }

  .input_cadast{
    background: #dcdcdc;
    font-size: 18px;
    font-family: 'myriad_n';
    color: #6f6f6f;
    padding: 15px 10%;
    display: block;
    margin-bottom: 15px;
    border-radius: 8px;
    border: solid 1px #dcdcdc;
    width: 80%;
  }

  .text_input{
    overflow: hidden;
    margin-bottom: 5px;
  }

  .bt_cadast_inc{
    border-radius: 10px;
    display: block;
    overflow: hidden;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-family: 'myriad_b';
    background: #10b008;
    border: 1px solid #10b008;
    margin-bottom: 30px;
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 45px;
  }

  .img_steps{
    width: 60%;
    overflow: hidden;
    display: block;
  }

  .box_valor{
    float: left;
    width: 44%;
    border: solid 2px #fff;
    margin: 0 2%;
    margin-bottom: 15px;
    text-align: center;
    font-size: 22px;
    font-family: 'myriad_b';
    color: #fff;
    padding: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: all .5s ease;
  }

  .box_valor:hover{
    color: #0090b9;
    background: #fff;
  }

  /*28/07/2020*/
  .inf_cadast2{
    float: none;
    padding: 150px 0;
    width: 100%;
    overflow: hidden;
    display: block;
    background: #f4f4f4;
    background-size: contain;
    color: #fff;
  }

  .inf_cadast2 .title{
    width: 80%;
    overflow: hidden;
    display: block;
    color: #3c3c3c;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 38px;
  }

  .cont_choose{
    width: 80%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    color: #747474;
  }

  .crianca{
    float: none;
    width: 100%;
    overflow: hidden;
    margin: 40px 1.5%;
    display: block;
  }


  .info_crianca2{
    float: none;
    width: 80%;
    overflow: hidden;
    margin-left: 0px;
    margin: 0 auto;
  }

  .foto_crianca2{
    float: none;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .desc_crianca{
    overflow: hidden;
    text-align: justify;
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 100px;
    margin-bottom: 50px;
    border-bottom: 1px dotted #666;
  }

  .inf_cadast2 .title{
    text-align: center;
    padding-top: 50px;
  }

}
